:root {
  --primary-color: powderblue;
  --secondary-color: green;
  --tertiary-color: gray;
}
.App {
  border: 1px solid black;
  border-radius: 30px;
  margin: 80px auto;
  max-width: 600px;
  padding: 40px;
  font-size: 16px;
}
form {
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 30px;
}
input {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}
.temp {
  font-size: 60px;
}
.unit {
  font-size: 16px;
}
.App ul {
  padding: 0 0 0 0;
  margin: 0;
}
li {
  list-style: none;
}
footer {
  font-size: 12px;
  text-align: center;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  padding: 10px;
}
footer a {
  text-decoration: none;
}
