.Weather form {
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.Weather .btn.btn-primary {
  background-color: var(--secondary-color);
  border: none;
  padding: 10px;
}
.Weather .btn.btn-primary:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
.Weather input {
  width: 75%;
  padding: 8px;
  border-radius: 10px;
  background-color: #cfd9df;
}
.temp {
  font-size: 65px;
  margin-left: 10px;
}
.unit {
  font-size: 16px;
  position: relative;
  top: -34px;
  color: var(--primary-color);
}
.icon {
  top: 25px;
  position: relative;
}
strong {
  color: var(--primary-color);
  font-weight: 400;
}
