.WeatherForecast {
  text-align: center;
  font-size: 14px;
  margin: 40px auto;
  border-top: 1px solid var(--secondary-color);
  padding-top: 30px;
}
.WeatherForecast .forecastDay {
  font-weight: 500;
}
.WeatherForecast .temperature-min {
  opacity: 0.7;
  margin-left: 5px;
  color: var(--tertiary-color);
}
