.WeatherForecast {
  font-size: 14px;
  margin: 20px auto;
  border-top: 1px solid var(--secondary-color);
  padding-top: 20px;
  text-align: center;
}
.WeatherForecast .forecastDay {
  font-weight: 500;
}
.WeatherForecast .temperature-min {
  margin-left: 5px;
  color: var(--primary-color);
}

@media (max-width: 576px) {
  .WeatherForecast {
    margin: 0 auto 20px;
    font-size: 10px;
  }
}
